# General ignores
.git
.gitignore
node_modules
**/node_modules
pnpm-debug.log
npm-debug.log
.yarn
.cache

# Python
**/__pycache__
**/*.pyc

# Build artifacts
**/dist
**/build
**/.turbo
**/.next
**/coverage

# Local env
.env
.env.*
!.env.*.example
!**/.env.example

# Misc
.DS_Store
reports
var/tmp
